<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Offers</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <h1>FLIGHT OFFERS</h1>

    {% if invalid_no_of_passengers %}
    <p class="error-message">
        Your request cannot be processed as the total number of passengers exceeds the maximum limit of 9. Please submit a new request.
    </p>
    {% elif invalid_dates %}
    <p class="error-message">
        Your request cannot be processed as the "Date From" is later than the "Date To". Please submit a new request.
    </p>
    {% elif not flight_offers %}
    <p class="error-message">
        Flight offers matching your submitted request could not be located. Please submit a new request.
    </p>
    {% endif %}

    <form action="/" method="get">
        <div class="button-container">
            <button class="button">
                <span>Search For Other Flights</span>
            </button>
        </div>
    </form>

    {% if flight_offers %}
    <h3>From {{ departure }} to {{ arrival }}</h3>
    <h3>Date of departure: {{ date_from.strftime("%d.%m.%Y") }}</h3>
    {% if date_to %}
    <h3>Date of return: {{ date_to.strftime("%d.%m.%Y") }}</h3>
    {% endif %}

    <table>
        <thead>
            <tr>
                <th>Departure airport</th>
                <th>Destination airport</th>
                <th>Departure distance (km)</th>
                {% if date_to %}
                <th>Return distance (km)</th>
                <th>Date of departure/return</th>
                {% else %}
                <th>Date of departure</th>
                {% endif %}
                <th>Number of stops</th>
                <th>Number of passengers</th>
                <th>Currency</th>
                <th>Total price</th>
            </tr>
        </thead>
        <tbody>
            {% for offer in flight_offers %}
            <tr>
                <td>{{ offer.departure_airport }}</td>
                <td>{{ offer.arrival_airport }}</td>
                <td>
                    {% if not offer.departure_geo_distance %}
                    <small><em>Insufficient data is available</em></small>
                    {% else %}
                    {{ offer.departure_geo_distance }}
                    {% endif %}
                </td>
                {% if offer.return_date %}
                <td>
                    {% if not offer.return_geo_distance %}
                    <small><em>Insufficient data is available</em></small>
                    {% else %}
                    {{ offer.return_geo_distance }}
                    {% endif %}
                </td>
                <td>
                    {{ offer.departure_date.strftime("%d.%m.%Y") }} - {{ offer.return_date.strftime("%d.%m.%Y") }}
                </td>
                {% else %}
                <td>
                    {{ offer.departure_date.strftime("%d.%m.%Y") }}
                </td>
                {% endif %}
                <td>{{ '-' if offer.no_of_stops == '0' else offer.no_of_stops }}</td>
                <td>{{ offer.no_of_passengers }}</td>
                <td>{{ offer.currency }}</td>
                <td>{{ offer.price_total|format_currency }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</body>
</html>
