<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Offers</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <h1>FLIGHT OFFERS</h1>

    <form action="/submit-form" method="post">
        <div class="form-row">
            <label for="departure">Departure IATA:</label>
            <input type="text" id="departure" name="departure" class="input-medium" required pattern="[A-Z]{3}" title="Please enter a 3-letter uppercase code">
            <label for="arrival">Arrival IATA:</label>
            <input type="text" id="arrival" name="arrival" class="input-medium" required pattern="[A-Z]{3}" title="Please enter a 3-letter uppercase code">
        </div>

        <div class="form-row">
            <label for="date_from">Date From:</label>
            <input type="date" id="date_from" name="date_from" class="input-medium" required>
            <label for="date_to">Date To:</label>
            <input type="date" id="date_to" name="date_to" class="input-medium">
        </div>

        <div class="form-row">
            <label for="adult_passengers">Number of Adult Passengers:</label>
            <input type="number" id="adult_passengers" name="adult_passengers" class="input-small" min="1" max="9" required>
            <label for="kids">Number of Children:</label>
            <input type="number" id="kids" name="children" class="input-small" value="0" min="0" max="9">
        </div>

        <div class="button-container">
            <button type="submit" class="button">Search</button>
        </div>
    </form>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var dateFromInput = document.getElementById("date_from");
            var dateToInput = document.getElementById("date_to");
            var today = new Date();
            var year = today.getFullYear();
            var month = String(today.getMonth() + 1).padStart(2, "0");
            var day = String(today.getDate()).padStart(2, "0");
            var minDate = year + "-" + month + "-" + day;
            dateFromInput.min = minDate;
            dateToInput.min = minDate;
        });

        function removeClass(){
        myButton.className = myButton.className.replace(new RegExp('(?:^|\\s)loading(?!\\S)'), '');
        }

        var myButton = document.getElementById('myButton');


        myButton.addEventListener("click", function() {
            myButton.className = myButton.className + ' loading';
            setTimeout(removeClass, 2000);
        }, false);
    </script>
</body>
</html>